<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our Site's All-Time User Stats</h1>
    <p><strong>All-Time COVID Diagnoses: </strong> <%- diagnosed %> </p>

    <form method="post">
        <label for="occurences">Enter how many times you have had Covid: </label>
        <br>
        <input type="number" name="occurences" id="">
        <br>
        <input type="submit" value="submit" name="" id="">
    
    </form>
    <a href="/../">HOME</a>

    
</body>
</html>